[defaults]
collections_path = ./plugin
local_tmp = ./.cache/ansible/tmp
retry_files_enabled = False
interpreter_python = auto_silent

[inventory]
enable_plugins = auto
unparsed_is_failed = True
any_unparsed_is_failed = True

